@import "../partials/variables";

.profileCard {
    width: 100%;
    min-height: 200px;
    overflow: auto;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    
    a {
        text-decoration: none;
        color: $primary-dark-text-color;

        &:active {
            color: white;
            background-color: $primary-color;
        }
    }

    h2 {
        margin-top: 10px;
        color: $primary-dark-text-color;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0;
    }

    h4 {
        color: $primary-dark-text-color;
        margin-top: 0;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0;
    }

    h6 {
        margin-top: 5px;
        color: $primary-accent-text-color;
        font-size: 12.5px;
    }

    hr {
        margin: 0;
    }
}

.create {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 39px;
    width: 100%;
    transition: all .5s ease;

    &:hover {
        background-color: $primary-color;
        color: white;
        cursor: pointer;

        h4 {
            color: white;
        }
    }

    h4 {
        font-size: 15px;
        margin-left: 5px;
        margin-top: 0;
        margin-bottom: 0;
        transition: all .5s ease;
    }

    p {
        margin-top: 14px;
        margin-left: 10px;
    }
}
