@import "../partials/variables";

.menuContainer {
  width: 85px;
  min-height: 50px;
  position: absolute;
  background-color: white;
  border: .5px solid whitesmoke;
  border-radius: 10px 0px 10px 10px;
  top: 32px;
  margin-left: auto;
  left: 82.5%;
  right: 2%;

  hr {
    color: rgb(206, 206, 206);
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 90%;
  }

  p {
    text-align: left;
    margin: 3px 0 3px 5px;
    font-size: 13px;
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }
}