@import '../components/partials/variables';

.mainContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    ::-webkit-scrollbar {
        display: none;
    }
}

.mainContentContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: inherit;
}

.mainSection {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
    overflow-y: scroll;
    scrollbar-color: transparent;
}

.leftSection {
    width: 22.5%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.rightSection {
    width: 22.5%;
    height: 100%;
    margin: 0 auto;
    margin-top: 25px;
}