@import '../components/partials/variables';

.mainContainer {
    width: 100%;
    height: 100%;
    margin: 0;

    ::-webkit-scrollbar {
        display: none;
    }
}

.topContainer {
    width: 90%;
    margin: 0 auto;
    height: 475px;
    display: flex;
}


.mainContentContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}


.authForm {
    width: 98%;
    margin-left: 1%;
    margin-top: 25px;
    border-radius: 5px;
    color: $primary-dark-text-color;
    padding: 20px;
    background-color: white;

}

.submitBtn {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 25px;

    &:hover {
        background-color: $primary-shadow;

    }
}