// Colors
$primary-color: #007cc7;
$secondary-color: #203647;
$primary-shadow: #4da8da;
$off-white: #eefbfb;
$primary-dark-text-color: #333;
$primary-accent-text-color: rgb(128, 126, 126);

//Font
$font:'Work Sans', sans-serif;

