@import "../partials/variables";

.header {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 98%;
    min-height: 450px;
    margin-left: 1%;
    margin-top: 25px;
    border-radius: 5px;
    color: $primary-dark-text-color;

    @media (max-width: 480px) {
        min-height: 200px;
        padding: 0;
    }
}  

.bannerImage {
    width: 100%;
    height: 300px;
    border-radius: 5px;

    img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
        object-fit: cover;
    }

    @media (max-width: 480px) {
        height: 150px;

        img {
            height: 150px;
        }
    }
}

.headerContent {
    width: 90%;
    margin: 0 auto;
    min-height: 200px;
    margin-top: -115px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.avatar {
    margin: 0 auto;
    height: 200px;
    width:200px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid whitesmoke;

    img {
        height: 200px;
        width:200px;
        object-fit: cover;
        border-radius: 50%;
        background-color: white;
        border: 1px solid whitesmoke;
    }

    @media (max-width: 480px) {
        height: 125px;
        width: 125px;
        margin-top: 45px;

        img {
            height: 125px;
            width: 125px;
            margin: 0 auto;
        }
    }
}

.headerInformation {
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;



    h2 {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 32px;
    }
}