@import "~bootstrap/scss/bootstrap";
@import './components/partials/variables';

body, html, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-family: $font;
  color: $primary-dark-text-color;
}

